<script>
  $(document).ready(function() {
    $('#posts').sortable({
      axis: 'y',
      handle: '.handle',
      update: function(event, ui) {
        $.post($(this).data('update-url'), $(this).sortable('serialize'));
      }
    });
  });
</script>

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<ul id="posts" data-update-url="<%= sort_posts_url %>">
  <% @posts.each do |post| %>
    <li id="post_<%= post.id %>">
      <span class="handle">[drag]</span>
      <%= link_to post.text, post_path(post) %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Post', new_post_path %>
