<script>
  $(document).ready(function() {
    $('#posts').sortable({
      axis: 'y',
      handle: '.handle',
      update: function(event, ui) {
        $.post($(this).data('update-url'), $(this).sortable('serialize'));
      }
    });
  });
</script>

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Text</th>
      </tr>
    </thead>

    <tbody id="posts" data-update-url="<%= sort_posts_url %>">
      <% @posts.each do |post| %>
        <tr id="post_<%= post.id %>">
          <td>
            <span class="handle">[drag]</span>
            <%= post.text %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Post', new_post_path %>
